body {
    padding: 40px 40px 40px 40px;
    background-color: #F6F6FA;
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    display: flex;
    flex-direction:row-reverse;
    background-color: white;  
    width: 1200px;
    margin: 0 auto;
}
.sidebar {
    background-color: #E0EBFE;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 370px;
}
.main-content {
    padding: 80px 80px 40px 80px;
    box-sizing: border-box;
}
.sidebar-content {
    padding: 40px 40px 40px;
    box-sizing: border-box;
}

/* contacts */

.contacts {
    margin-bottom: 40px;
}
.contacts > h3 {
    color: #161D2A;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}
.contacts > p {
    margin-top: 0;
    margin-bottom: 4px;
}
.contacts > p > span {
    color: #161D2A;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px; 
    margin-right: 8px;
}
.contacts > p > a {
    color: #2979FF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

/* my skills */

.skills {
    margin-bottom: 40px;
}
.skills > h3 {
    color: #161D2A;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}
.skills > ul {
    padding-left: 24px;
    margin-top: 0;
    margin-bottom: 0;
}
.skills > ul > li {
    color: #161D2A;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.skills > ul > li::marker {
    font-size: 0.7em;
  }

/* my info */ 

.my-info {
    margin-bottom: 40px;
}
.my-info > h2 {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin-top: 0;
    margin-bottom: 8px;
}
.my-info > h1 {
    color: #000;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    margin-top: 0;
    margin-bottom: 8px;
}
.my-info > p {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

/* my projects */

.my-projects {
    margin-bottom: 40px;
}
.my-projects > h3 {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 8px;
}
.my-projects > ol {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    padding-left: 16px;
    margin-top: 0;
    margin-bottom: 0;
}
.my-projects > ol > li {
    padding-left: 14px;
}
.my-projects > ol > li > a {
    color: #005FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}
.my-projects > ol > li > span {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* work experience */

.work-experience {
    margin-bottom: 40px;
}
.work-experience > h3 {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 8px;
}
.work-experience > div > h4 {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 12px;
}
.work-experience > div > h4 > span {
    color: #6D9BF5;
}
.work-experience > div > p {
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-top: 0;
    margin-bottom: 8px;
}
.work-experience > div > ul {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 12px;
    padding-left: 24px;
}
.work-experience > div > ul > li::marker {
    font-size: 0.7em;
  }

/* education */ 

.education {
    margin-bottom: 40px;
}
.education > h3 {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}
.education > h4 {
    color: #6D9BF5;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}
.education > h5 {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}
.education > p {
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
}